@use '../../scss/mixins.scss' as *;

.item {
  padding: 40px 30px;
  background-color: $purple3;

  &:nth-child(n+2) {
    margin-top: 40px;
  }

  @include sm {
    padding: 20px 10px;
  }
}

%text {
  padding: 30px 20px;
  font-size: 22px;
  line-height: 1.6;

  @include sm {
    padding: 20px 10px;
    font-size: 18px;
  }
}

.title {
  @extend %text;
  margin-bottom: 20px;
  font-weight: bold;

  @include sm {
    padding-top: 0;
    margin-bottom: 0;
  }
}

.answer {
  @extend %text;
  background-color: $white;

  @include sm {
    font-size: 16px;
  }
}

.textInner {
  position: relative;
  display: block;
  padding-left: 55px;

  @include sm {
    padding-left: 30px;
  }
}

%icon {
  position: absolute;
  top: -4px;
  left: 0;

  @include sm {
    top: 2px;
  }
}

.iconQ {
  @extend %icon;
  @include sm {
    width: 20.5px;
    height: 18.5px;
  }
}

.iconA {
  @extend %icon;
  @include sm {
    width: 21.5px;
    height: 17.5px;
  }
}
