@use "../../scss/mixins.scss" as *;

.h3 {
  font-size: 36px;
  line-height: 1.25;
  font-weight: bold;
  text-align: center;
  margin-top: 88px;
  margin-bottom: 50px;

  @include sm {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 28px;
  }

  &::after {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: $purple;
    margin: 5px auto 0;
  }
}
