@use '../../scss/mixins.scss' as *;

.outer {
  position: relative;
  height: 718px;
  background-color: $purple3;

  @include sm {
    height: 430px;
  }
}

.inner {
  position: relative;
  padding-top: 120px;

  @include sm {
    padding-top: 60px;
  }
}

.title {
  font-size: 64px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;

  @include sm {
    font-size: 32px;
  }
}

.catchcopy {
  margin-top: 24px;
  font-size: 30px;
  line-height: 1.6;
  text-align: center;

  @include sm {
    font-size: 20px;
  }
}

.btnBox {
  padding: 0 $sp_padding;
  margin-top: 25px;
  text-align: center;
}
