@use '../../scss/mixins.scss' as *;

.outer {
  position: relative;
  height: 718px;
  background-color: $purple2;

  @include sm {
    height: 430px;
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.inner {
  position: relative;
  padding-top: 120px;

  @include sm {
    padding-top: 60px;
  }
}

.title {
  font-size: 64px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;

  @include sm {
    font-size: 32px;
  }
}

.catchcopy {
  margin-top: 24px;
  font-size: 30px;
  line-height: 1.6;
  text-align: center;

  @include sm {
    font-size: 20px;
  }
}

.btnBox {
  padding: 0 20px;
  margin-top: 25px;
  text-align: center;
}

.figureLeft {
  position: absolute;
  bottom: 84px;
  right: calc(50% + 359px);
  width: 280px;
  height: 184px;

  @include lg_down {
    display: none;
  }
}

.figureRight {
  position: absolute;
  bottom: 70px;
  left: calc(50% + 315px);
  width: 354px;
  height: 282px;

  @include lg_down {
    display: none;
  }
}
