@use '../../scss/mixins.scss' as *;

.label {
  display: block;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;

  @include sm {
    font-size: 18px;
  }
}

.required {
  display: inline-block;
  margin-left: 20px;
  padding: 2px 20px;
  border-radius: 4px;
  background-color: $red;
  color: $white;
  font-size: 18px;

  @include sm {
    font-size: 16px;
  }
}

.comment {
  margin-left: 5px;
  font-size: 18px;
  font-weight: normal;

  @include sm {
    font-size: 14px;
  }
}
