@use '../../scss/mixins.scss' as *;

.pcBanner {
  @include sm {
    display: none;
  }
}

.spBanner {
  text-align: center;

  @include sm_up {
    display: none;
  }
}

.btnBox {
  margin-top: 50px;
  text-align: center;
}
