@use '../../scss/mixins.scss' as *;

.icon {
  margin-bottom: 20px;
  text-align: center;

  @include sm {
    margin-bottom: 10px;
  }
}

.title {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;

  @include sm {
    margin-bottom: 10px;
    font-size: 22px;
  }
}

.desc {
  font-size: 16px;
  ul {
    margin-left: 1.5em;
  }
}
