@use '../../scss/mixins.scss' as *;

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include noFade;
}

.left {
  position: absolute;
  bottom: 84px;
  right: calc(50% + 359px);
  @include noFade;

  @include lg_down {
    display: none !important;
  }
}

.right {
  position: absolute;
  bottom: 70px;
  left: calc(50% + 315px);
  @include noFade;

  @include lg_down {
    display: none !important;
  }
}
