@use '../../scss/mixins.scss' as *;

.form {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.inputBox {
  &:nth-child(n+2) {
    margin-top: 40px;
  }
}

.btnBox {
  margin-top: 30px;
  text-align: center;
}
