@use '../../scss/mixins' as *;

.section {
  padding-top: 80px;
  padding-bottom: 80px;

  @include sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.purple {
  background-color: $purple3;
}
