@use '../../scss/mixins.scss' as *;

.upper {
  padding: 40px 0;
  background-color: $black;
  color: $white;
}

.upperInner {
  @include sm_up {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.copyright {
  font-size: 14px;
}

.lower {
  padding: 30px 20px;
  text-align: center;
}
